{% extends 'home/base.html' %}
{% block title %}About Us{% endblock %}

{% block body %}

<!-- Container to put in items-->
<div class="container">

    <div class="row">
        <div class="col">
            <h1>About Us</h1>

            <font size="5"><p><center><b>"EVERYONE DESERVE MUSIC"</b></center></p></font>

            <p>At Pineland's Music School we believe that music lessons are not just about learning to sing or to play an instrument.</p>

            <p>We take the time to find out what you would like to achieve from the music lessons, helping you to establish your goals and coach you towards achieving them. Our music teachers are all highly skilled and will help you realise your music potential through the lessons.</p>

            <p>We have a long tradition of teaching music and providing resources for music teachers and schools here in Brisbane. We strive to bring out the very best in all out students and offer many fun and exciting opportunities.</p>


            <p>We offer a diverse range of lessons for children from the ages of 10 and above.</p>
            <p>If you are looking for supportive, professional and engaging music lessons on your instrument, feel free to contact us and discuss how we can help you in detail.</p>

            <p>We are also looking for energetic, enthusiastic teachers who are passionate about music and love music as much as we do.</p>


        

            <p>Explore the site for more information on our teachers and lessons.</p>

        </div>
    </div>


</div>

{% endblock %}
