{% extends 'home/base.html' %}
{% block title %}About Us{% endblock %}

{% block body %}

<!-- Container to put in items-->
<div class="container">

    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus sollicitudin nec lorem ut molestie. Cras facilisis, felis nec tempor rutrum, sem felis convallis enim, et mattis purus elit nec risus.
                Ut cursus, risus sit amet euismod feugiat, tortor felis facilisis turpis, eget pharetra dolor tellus a nulla. Mauris vitae massa vitae quam commodo feugiat facilisis ac lorem.
                Proin elementum libero quis nunc aliquet rutrum. Fusce molestie est at magna suscipit accumsan.
                Praesent venenatis at dui vitae bibendum. Nam id ante ac felis varius fringilla et in metus.
                Cras tincidunt neque augue, et lobortis elit posuere nec.</p>
            <p> We offer a diverse range of lessons for children from the ages of 10 and above.</p>
        </div>
    </div>


</div>

{% endblock %}
