{% extends 'home/base.html' %}
{% block title %}About Us{% endblock %}

{% block body %}

{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- Container to put in items-->
<div class="container-fluid wow fadeIn" id="about_title">

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h1 style="font-size: 80px;">About Pinelands</h1>
            <hr>
        </div>
    </div>

    <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="text-center">
                     <h3 style="font-family: 'Open Sans', sans-serif;">At Pineland's Music School we believe that music lessons are not just about learning to sing or to play an instrument.</h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid wow fadeIn" id="values">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h2>Our School Values</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;">We take the time to find out what you would like to achieve from the music lessons, helping you to establish your goals and coach you towards achieving them.
                Our music teachers are all highly skilled and will help you realise your music potential through the lessons.<br> <br>
                We have a long tradition of teaching music and providing resources for music teachers and schools here in Brisbane.
                We strive to bring out the very best in all out students and offer many fun and exciting opportunities.</h4> <br>

        <h2>Our Lessons</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;"><strong>We offer a diverse range of lessons for children from the ages of 10 and above.</strong><br><br>
            If you are looking for supportive, professional and engaging music lessons on your instrument, feel free to contact us and discuss how we can help you in detail.<br><br>
            We are also looking for energetic, enthusiastic teachers who are passionate about music and love music as much as we do.<br><br>
            Explore our site for more information on our teachers and lessons.</h4> <br>

        <h2>Principal's Message</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;"><strong>We offer a diverse range of lessons for children from the ages of 10 and above.</strong><br><br>
            If you are looking for supportive, professional and engaging music lessons on your instrument, feel free to contact us and discuss how we can help you in detail.<br><br>
            We are also looking for energetic, enthusiastic teachers who are passionate about music and love music as much as we do.<br><br>
            Explore our site for more information on our teachers and lessons.<br> <br>
            -Mika, Principal, Founder
            </h4>


        </div>
    </div>
</div>





{% endblock %}
