<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'home/style.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!-- Animate CSS-->
<link rel="stylesheet" href="{% static 'home/animate.css' %}">
<script src="{% static 'js/wow.min.js' %}"></script>

<!-- Nav Bar -->
<nav class="navbar navbar-default wow fadeInDown" id="nav">

    <div class = "container-fluid">

        <!--Logo-->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home:index' %}">
                <img src="{% static 'img/pinecone.svg' %}" width="50" height="50" alt="">
            </a>
        </div>

        <!-- Nav Items -->
        <div class = "collapse navbar-collapse">

            <!--About Item -->
            <ul class = "nav navbar-nav">
                <li class = "">
                    <a href="{% url 'home:about' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> about </a>
                </li>
            </ul>

            <!--Another Item -->
            <ul class = "nav navbar-nav">
                <li class = "">
                    <a href="{% url 'home:gallery' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> gallery </a>
                </li>
            </ul>

            <ul class = "nav navbar-nav">
                <li class = "">
                    <a href="{% url 'home:jobs' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> jobs </a>
                </li>
            </ul>

            <ul class = "nav navbar-nav">
                <li class = "">
                    <a href="{% url 'home:team' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> our team </a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home:enrol' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> enrol </a>
                </li>
            </ul>


            <ul class = "nav navbar-nav">
                <li class = "">
                    <a href="{% url 'home:contact' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> contact us </a>
                </li>
            </ul>

            <!--Login Button (RHS) -->
            <ul class = "nav navbar-nav navbar-right">
                <li class = ""> <!-- If they go to homepage, while logged in do... -->
                    {% if user.is_authenticated %}
                        <a href="{% url 'home:logout_user' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> Log out </a>
                    {% else %}
                        <a href="{% url 'home:login' %}" style="font-family: 'Roboto'; font-weight: 500; font-size: 20px;"> Login </a>
                    {% endif %}
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">

                    <a href="https://www.instagram.com/" style="color: #fff;"><i class="fab fa-instagram fa-2x"></i></a><
                </li>

                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-2x"></i></a></li>

            </ul>

        </div>
    </div>
</nav>

<!--This is to remove the whitespace between nav and following items -->

{% block body %}
{% endblock %}

<!-- Think about what you want to put into footer-->
<footer id = foot class="wow fadeInUp">
    <div class="container-fluid">
        <div class="row">

        </div>

        <div class="row">

            <div class="col-sm-2 col-sm-offset-2">
                <h4>Contact Us</h4>
                <p>Music School
                <br>1 George St
                <br>Brisbane City QLD 4000
                <br>(07) 1234 5678</p>
                <h6>Copyright &copy; 2018</h6>
            </div>

            <div class="col-sm-2">
                <h4>About Us</h4>
                <p>Music is our passion. We believe x, y, z.
                <br> Founded in 2000</p>
            </div>

            <div class="col-sm-2">
                <h4>Navigation</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home:about' %}">About</a></li>
                    <li><a href="{% url 'home:gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'home:jobs' %}">Jobs</a></li>
                    <li><a href="{% url 'home:team' %}">Our Team</a></li>
                    <li><a href="{% url 'home:contact' %}">Contact Us</a></li>

                    {% if user.is_authenticated %}

                        {% if user.is_staff %}
                        <li><a href="{% url 'teacher:index' %}">Teacher Home</a></li>
                        {% else %}
                        <li><a href="{% url 'student:index' user.id %}">Student Home</a></li>
                        {% endif %}

                    {% endif %}

                </ul>
            </div>

            <div class="col-sm-2">
                <h4>Follow Us</h4>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
            </div>

        </div>

    </div>
</footer>

<script src="{% static 'js/wow.min.js' %}"></script>
              <script>
              new WOW().init();
              </script>

</html>