

{% extends 'home/base.html' %}
{% block title %}Enrol{% endblock %}

{% block body %}


{% load staticfiles %} <!--To use static path -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<div class="container-fluid wow fadeIn" id ="opp">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h1 style="font-size: 80px;">Enrol with us</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid wow fadeIn" id="opp_body">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h2>Why enrol at Pinelands?</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;">
            Fusce auctor porta nisl, eget maximus odio dapibus at. Morbi imperdiet elit eu maximus consectetur.
                In hac habitasse platea dictumst. Suspendisse lacinia sapien non ipsum sodales vulputate.
                Aliquam vitae turpis nulla. <br><br>Pellentesque metus augue, rutrum nec vulputate ut, luctus sit amet quam. Aliquam id turpis mi.
                Duis tristique massa hendrerit turpis auctor ultrices.
                Mauris quis aliquet erat, eget suscipit enim.
                Vestibulum sit amet purus interdum, sollicitudin odio vitae, feugiat purus. Integer non enim luctus sem pulvinar malesuada.

            </h4>

            <h2>Enrolment prerequisites</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;">To enrol your child at Pinelands, you will need to provide evidence of you <strong>and</strong> your child's identity <strong>and</strong> proof of residence to ensure you reside within the school's catchment area.
                <br>
                <br>To verify your identity and residence, you can use your driver's license or Australian passport. For your child, please provide a copy of his/her
                birth certificate.
            </h4>
            <h4 style="font-family: 'Roboto', sans-serif;"> To enrol, please print and complete the provided <a href="{% static 'home/studentC.pdf' %}" target="_blank">PDF form.</a> </h4>

            <h2>Enrolment submission</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;"> Enrolment forms must be submitted in-person or by post.
            <br>
            <br>Once your enrolment has been submitted, Pinelands will contact you to complete the enrolment process.
            <br>
            <br><strong>*Enrolment fees apply.</strong>
            </h4>

            <h2>Eligibility for enrolment</h2>
            <hr>
            <h4 style="font-family: 'Roboto', sans-serif;">You are eligible to enrol if:</h4>
            <ul>
                <li style="font-family: 'Roboto', sans-serif;">are an Australian citizen,</li>
                <li style="font-family: 'Roboto', sans-serif;">have lived in your current address for at least one month and,</li>
                <li style="font-family: 'Roboto', sans-serif;">your child is aged 10 years and over.</li>

            </ul>

        </div>
    </div>
</div>






{% endblock %}
