{% extends 'home/base.html' %}
{% block title %}Jobs{% endblock %}

{% block body %}
{% load staticfiles %}

<div class="container-fluid wow fadeIn" id="job_intro">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h1 style="font-size: 80px;">Job Opportunities</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="font-family: 'Roboto', sans-serif;">
			
			<h2><br>Music Teacher</br></h2>

			<p>This is a Full Time job</p><br>
				<p>We are currently seeking a high energy, skilled practitioner to implement and enhance a cutting edge Pinelands
				music school program. The successful applicant would be required to join our teaching staff in 2018. </p><br>
			 
                <strong>Download the application </strong><a href="{% static 'home/studentC.pdf' %}" target="_blank">here.</a><br><br>
                Alternatively, you may complete the online job application form below:</h4>
        </div>

    </div>

</div>

<div class="container-fluid wow fadeIn" id="job_form">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method = post class="post-message" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>

<!-- Send verification it has been uploaded -->
    <div class = row>
        <div class="col-md-6 col-md-offset-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
