{% extends 'home/base.html' %}
{% block title %}Our Team{% endblock %}

{% block body %}

{% load staticfiles %} <!--To use static images -->

<!Doctype html>
<html lang="en">
<head>
<title>Pinelands Music School's Teachers </title>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
<script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
</script>

</head>
<body>

<!-- Team Intro -->
	<div class="description">
	<div class="card">
	<Center>
		<h2><strong>Welcome, Meet Our Team!</strong></h2>
		<p>At Lizie, we pride ourselves on our faculty's depth of study and professional experience.
		Our teachers have all studied music at a tertiary level with many <br>achieving post graduate qualifications. 
		Faculty members regularly perform at professional engagements and several have competed in 
		competitions at a national and international level.</p>
		<br></center>
	</div>
	</div>

	<!-- First column of four (4) photos -->
<div class="ourteam">
	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
	
			<h2>Mike Ross</h2>
			<p class="title">Chief Executive Officer</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
    </div>
	</div>
		 
	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team8.jpg' %}"><img src="{% static 'img/team8.jpg' %}" height="200" width="200"></a>
	  
			<h2>Mike Ross</h2>
			<p class="title">Chieft Accountant</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
    </div>
	</div>
	
	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team3.jpg' %}"><img src="{% static 'img/team3.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Administrator</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
     
		</div>
	</div>
	</div>
</div>

<!-- Second column of four (4) photos -->
<div class="ourteam">
	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team4.jpg' %}"><img src="{% static 'img/team4.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Chief Executive Officer</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>
	
	<div class="column">
    <div class="card">
		<div class="container">
		<a href="{% static 'img/team5.jpg' %}"><img src="{% static 'img/team5.jpg' %}" height="200" width="200"></a>
	  
			<h2>Mike Ross</h2>
			<p class="title">Chieft Accountant</p>
			 <p class="email">mikerose@pineland.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>

	<div class="column">
    <div class="card">
		<div class="container">
		  <a href="{% static 'img/team9.jpg' %}"><img src="{% static 'img/team9.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Administrator</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>

	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team6.jpg' %}"><img src="{% static 'img/team6.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Administrator</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
     
		</div>
	</div>
	</div>
</div>

<!-- Third column of four (4) photos -->
<div class="ourteam">
	<div class="column">
    <div class="card">
      <div class="container">
		  <a href="{% static 'img/team7.jpg' %}"><img src="{% static 'img/team7.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Chief Executive Officer</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>
	
	<div class="column">
    <div class="card">
		<div class="container">
		<a href="{% static 'img/team2.jpg' %}"><img src="{% static 'img/team2.jpg' %}" height="200" width="200"></a>
	  
			<h2>Mike Ross</h2>
			<p class="title">Chieft Accountant</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>

	<div class="column">
    <div class="card">
		<div class="container">
		  <a href="{% static 'img/team10.jpg' %}"><img src="{% static 'img/team10.jpg' %}" height="200" width="200"></a>
	 
			<h2>Mike Ross</h2>
			<p class="title">Administrator</p>
			 <p class="email">mikerose@pinelands.edu.au</p>
			<p>Jenny has been working at Virtuosi since early 2017 <br>as a receptionist. 
			She is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours), 
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
		</div>
	</div>
	</div>
</div>

</body>
</html>


{% endblock %}

