{% extends 'home/base.html' %}
{% block title %}Our Team{% endblock %}

{% block body %}

{% load staticfiles %} <!--To use static images -->


<!Doctype html>
<html lang="en">
<head>
<title>Lizie Music School's Team </title>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
<script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
</script>

</head>
<body>

<div class="description">
	<div class="card">
	
		<h2>Welcome, Meet Our Team!</h2>
		<p>At Lizie, we pride ourselves on our faculty's depth of study and professional experience. 
		Our teachers have all studied music at a tertiary level with many achieving post graduate qualifications. 
		Faculty members regularly perform at professional engagements and several have competed in 
		competitions at a national and international level.</p>
		<br>
	</div>
</div>

<div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Chief Executive Officer</p>
		 <p class="email">mikerose@lizie.edu.au</p>
        <p class="content">Description</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Chieft Accountant</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description.</p>
      </div>
    </div>
  </div>


<div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Administrator</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Tranditional Instruments Expert</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Trainer</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description.</p>
      </div>
    </div>
  </div>


<div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
   <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
   <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
   <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
   <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
     
      </div>
    </div>
  </div>
  
   <div class="column">
    <div class="card">
     
	  <a href="{% static 'img/team1.jpg' %}"><img src="{% static 'img/team1.jpg' %}" height="200" width="200"></a>
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Dancing Master</p>
		 <p>mikerose@lizie.edu.au</p>
        <p>Description</p>
      </div>
    </div>
  </div>
   
   
</body>
</html>
{% endblock %}
