{% extends 'home/base.html' %}
{% block title %}Our Team{% endblock %}

{% block body %}

{% load staticfiles %} <!--To use static images -->
<link rel="stylesheet" href="{% static 'home/lightbox.css' %}">
<script src="{% static 'js/lightbox.min.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<html lang="en">
<head>
<title>Our Team</title>
</head>
<div>

<!-- Team Intro -->
	<div class="container-fluid wow fadeIn">
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<h1 style="font-size: 80px;">Meet Our Team</h1>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="text-center">
					<br><br>
					<h3 style="font-family: 'Open Sans', sans-serif;">At Pinelands, the talented team are committed to educating and
						working together to create opportunities that can change lives.</h3>
					<br><br>
					<hr>
				</div>
			</div>
		</div>
	</div>


	</div>
	</div>

	
<!-- TOP -->
<div class="container-fluid" style="padding: 60px;">
	<div class="col-md-4 col-md-offset-1" style="width: 16%;">

		<div class="container-fluid">
		  <a href="{% static 'img/team1.jpg' %}" data-lightbox="image-2"><img src="{% static 'img/team1.jpg' %}" height="300" width="300"></a>
		</div>
  	</div>

	<div class="col-md-2">
		<div class="container-fluid">
			<h2>Bryan</h2>
			<p class="title">Guitar</p>
			 <p class="email">bryan@pinelands.edu.au</p>
			<p>Bryan has been working at Virtuosi since early 2017 <br>as a receptionist.
			He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p> <br>
		</div>
	</div>


	<div class="col-md-4 col-md-offset-2" style="width: 16%;">

      <div class="container-fluid">
		  <a href="{% static 'img/team3.jpg' %}" data-lightbox="image-3"><img src="{% static 'img/team3.jpg' %}" height="300" width="300"></a>
	  </div>

  	</div>
		<div class="col-md-2">
			<div class="container-fluid">
				<h2>Milan</h2>
				<p class="title">Drums & Percussion</p>
				 <p class="email">milan@pinelands.edu.au</p>
				<p>Milan has been working at Virtuosi since early 2017 <br>as a receptionist.
				He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
				majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
			</div>
		</div>

</div>

<!-- MID -->
<div class="container-fluid" style="padding: 60px;">
	<div class="col-md-4 col-md-offset-1" style="width: 16%;">

		<div class="container-fluid">
		  <a href="{% static 'img/team2.jpg' %}" data-lightbox="image-4"><img src="{% static 'img/team2.jpg' %}" height="300" width="300"></a>
		</div>
  	</div>

	<div class="col-md-2">
		<div class="container-fluid">
			<h2>John</h2>
			<p class="title">Woodwind & Brass</p>
			 <p class="email">john@pinelands.edu.au</p>
			<p>John has been working at Virtuosi since early 2017 <br>as a receptionist.
			He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p> <br>
		</div>
	</div>

<!-- LHS Top-->
	<div class="col-md-4 col-md-offset-2" style="width: 16%;">

      <div class="container-fluid">
		  <a href="{% static 'img/team9.jpg' %}" data-lightbox="image-5"><img src="{% static 'img/team9.jpg' %}" height="300" width="300"></a>
	  </div>

  	</div>
		<div class="col-md-2">
			<div class="container-fluid">
				<h2>James</h2>
				<p class="title">Piano</p>
				 <p class="email">james@pinelands.edu.au</p>
				<p>James has been working at Virtuosi since early 2017 <br>as a receptionist.
				He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
				majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
			</div>
		</div>

</div>

<!-- BOTTOM -->
<div class="container-fluid" style="padding: 60px;">
	<div class="col-md-4 col-md-offset-1" style="width: 16%;">

		<div class="container-fluid">
		  <a href="{% static 'img/team10.jpg' %}" data-lightbox="image-6"><img src="{% static 'img/team10.jpg' %}" height="300" width="300"></a>
		</div>
  	</div>

	<div class="col-md-2">
		<div class="container-fluid">
			<h2>Aaron</h2>
			<p class="title">Strings</p>
			 <p class="email">aaron@pinelands.edu.au</p>
			<p>Aaron has been working at Virtuosi since early 2017 <br>as a receptionist.
			He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
			majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p><br>
		</div>
	</div>

<!-- LHS Top-->
	<div class="col-md-4 col-md-offset-2" style="width: 16%;">

      <div class="container-fluid">
		  <a href="{% static 'img/team11.jpg' %}" data-lightbox="image-7"><img src="{% static 'img/team11.jpg' %}" height="300" width="300"></a>
	  </div>

  	</div>
		<div class="col-md-2">
			<div class="container-fluid">
				<h2>Harold</h2>
				<p class="title">Vocal & Ethnic Instruments</p>
				 <p class="email">harold@pinelands.edu.au</p>
				<p>Harol has been working at Virtuosi since early 2017 <br>as a receptionist.
				He is currently in her final year<br> of the Bachelor of Advanced Science <br>(Honours),
				majoring in Ecology and Genetics,<br> focusing on marine evolutionary biology.</p>
			</div>
		</div>

</div>



</body>
</html>


{% endblock %}

