{% extends 'student/base.html' %}

{% block title %}Feedback{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 style="font-size: 80px;">Submit your feedback</h1>
                <hr>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="font-family: 'Roboto', sans-serif;">
                Please fill out the form provided below to submit feedback on our teaching team.
                <br><br>
                Your feedback will remain anonymous.
                <br>
            </h4>
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method = post class="post-message">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}