{% extends 'student/base.html' %}

{% block title %}Student Home{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 style="font-size: 80px;">Welcome back {{ user.get_username }}</h1>
                <hr>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 style="font-family: 'Roboto', sans-serif;">My Timetable</h1>
            </div>
        </div>


      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover">
            <!-- Header -->
                <thead>
                    <tr>
                        <th scope="col">Lesson Type</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Room</th>
                        <th scope="col">Day & Time</th>
                        <th scope="col">Duration (minutes)</th>
                    </tr>
                </thead>


        <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.type }}</td>
            <td>{{ lesson.teacher }}</td>
            <td>{{ lesson.room }}</td>
            <td>{{ lesson.day }} - {{ lesson.time }}</td>
            <td>{{ lesson.duration }} </td>
        </tr>
        {% endfor %}
        </tbody>

                </table>
        </div>
    </div>


    </div>

</div>
{% endblock %}
