
{% extends 'student/base.html' %}

{% block title %}Instruments{% endblock %}

{% block body %}

<!--
Note this page is not actually functional as: WILL DO SIMPLE REQUEST SENT INSTEAD
  1. We do not have a payment system
  2. Certain functions e.g. dropdown dependent dropdown require further learning
-->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 style="font-size: 80px;">Hire instruments</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 style="font-family: 'Roboto', sans-serif;">
                Please fill out the form provided below to hire or buy an instrument at Pinelands.
                <br><br>
                Admin will process your application and contact you via email for payment information.
            </h4>
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form method = post class="post-message">
              {% csrf_token %}
              {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>

    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
  </div>


</div>





{% endblock %}